/deemon
/config.mk
/conftest.c
/conftest.o
/conftest.h
/include/deemon/config.h
/include/deemon/config.h.old
/asm.S
/input.dee
/bin/*
/build/*
/src/tpp/frontend.c
/.vs/*.sdf
/.vs/*.suo
/.vs/*.opensdf
/.vs/.vs
*.exe
*.exp
*.lib
*.pdb
*.dll
*.dat
*.a
*.dec
*.suo
*.stackdump
*.db
*.opendb
*.db-shm
*.db-wal
*.log
*.vcxproj.user
*.so
