/deemon
/config.mak
/include/deemon/config.h
/asm.S
/input.dee
/bin/*
/build/*
/src/tpp/frontend.c
/.vs/*.sdf
/.vs/*.suo
/.vs/*.opensdf
/.vs/.vs
*.exe
*.exp
*.lib
*.pdb
*.dll
*.dat
*.a
*.dec
*.suo
*.stackdump
*.db
*.opendb
*.db-shm
*.db-wal
*.log
*.vcxproj.user
