[submodule "src/libregex"]
	path = src/libregex
	url = https://github.com/GrieferAtWork/kos-libregex.git
[submodule "src/libjson"]
	path = src/libjson
	url = https://github.com/GrieferAtWork/kos-libjson.git
[submodule "src/tpp"]
	path = src/tpp
	url = https://github.com/GrieferAtWork/tpp.git
